@import '../../variables';
@import '../../mixins';

.contactList li a {
    font-size: 1.75rem;
    line-height: 80px;
    color: $themePewterBlue;
    display: block;
    font-style: italic;

    &:hover {
        text-decoration: underline;
    }
}

.reactIcon {
    padding-right: 25px;
}

@media screen and (max-width: 900px) {
    .contactList li a {
        font-size: 1.5rem;
        padding-bottom: 25px;
        line-height: 1.5rem;
    }
    .reactIcon {
        display: block;
        padding-right: 0;
    }   
}