@import '../../variables';
@import '../../mixins';

#contact {
    @include setSectionBackground();
    @include sectionTopSpacing();
}

#contact h2 {
    @include setSectionTitle();
}

.contactList {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
}