@mixin sectionTopSpacing {
    padding-top: 50px;
    padding-bottom: 50px;
}

@mixin setMarginPadding {
    margin: 0;
    padding: 0;
}

@mixin setSectionBackground {
    background-color: $themeRussianViolet;
}