// Theme Colors
$themePewterBlue: #7C9EB2;
$themePurpleNavy: #52528C;
$themeRussianViolet: #372554;
$themeDarkPurple: #231123;
$themeBlack: #000000;

// Section Title
$sectionTitleSize: 2.5rem;
$sectionTitleSpacing: 25px;

// Resume Section Spacing
$resumeSectionBottom: 50px;