@import '../../variables';
@import '../../mixins';

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $themeDarkPurple;
    z-index: 2;
}

nav ul {
    @include setMarginPadding();
    overflow: hidden;
    float: right;
}

nav li {
    float: left;
    padding: 20px 35px;
    display: block;
    color: $themePewterBlue;
    font-size: 1.25rem;

    &:hover {
        background-color: $themePurpleNavy;
    }
}

@media screen and (max-width: 900px) {
    nav li {
        float: none;
    }
}