@import '../../variables';
@import '../../mixins';

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $themeDarkPurple;
    z-index: 2;
}

nav ul {
    @include setMarginPadding();
    overflow: hidden;
    display: flex;
    flex-direction: row;
    float: right;
}

nav li {
    padding: 20px 35px;
    display: block;
    color: $themePewterBlue;
    font-size: 1.25rem;

    &:hover {
        background-color: $themePurpleNavy;
    }
}

@media screen and (max-width: 900px) {
    nav {
        position: relative;
    }

    nav ul {
        flex-direction: column;
        float: none;
    }

    nav li {
        justify-content: center;
    }
}